[submodule "d1/c1"]
	path = d1/c1
	url = git@github.com:ssanthosh010303/d1c1.git
[submodule "d1/c2"]
	path = d1/c2
	url = git@github.com:ssanthosh010303/d1c2.git
[submodule "d2/c1"]
	path = d2/c1
	url = git@github.com:ssanthosh010303/d2c1.git
[submodule "d3/c1"]
	path = d3/c1
	url = git@github.com:ssanthosh010303/d3c1.git
[submodule "d3/c2"]
	path = d3/c2
	url = git@github.com:ssanthosh010303/d3c2.git
[submodule "d3/c3"]
	path = d3/c3
	url = git@github.com:ssanthosh010303/d3c3.git
[submodule "d3/c4"]
	path = d3/c4
	url = git@github.com:ssanthosh010303/d3c4.git
[submodule "d3/c5"]
	path = d3/c5
	url = git@github.com:ssanthosh010303/d3c5.git
[submodule "d4/c1"]
	path = d4/c1
	url = git@github.com:ssanthosh010303/d4c1.git
[submodule "d4/c2"]
	path = d4/c2
	url = git@github.com:ssanthosh010303/d4c2.git
[submodule "d5/c1"]
	path = d5/c1
	url = git@github.com:ssanthosh010303/d5c1.git
[submodule "d5/c2"]
	path = d5/c2
	url = git@github.com:ssanthosh010303/d5c2.git
[submodule "d6/c1"]
	path = d6/c1
	url = git@github.com:ssanthosh010303/d6c1.git
[submodule "d7/c1"]
	path = d7/c1
	url = git@github.com:ssanthosh010303/d7c1.git
[submodule "d7/c2"]
	path = d7/c2
	url = git@github.com:ssanthosh010303/d7c2.git
[submodule "d8/c1"]
	path = d8/c1
	url = git@github.com:ssanthosh010303/d8c1.git
[submodule "d10/c1"]
	path = d10/c1
	url = git@github.com:ssanthosh010303/d10c1.git
[submodule "d11/c1"]
	path = d11/c1
	url = git@github.com:ssanthosh010303/d11c1.git
[submodule "d12/c1"]
	path = d12/c1
	url = git@github.com:ssanthosh010303/d12c1.git
[submodule "d13/c1"]
	path = d13/c1
	url = git@github.com:ssanthosh010303/d13c1.git
[submodule "d14/c1"]
	path = d14/c1
	url = git@github.com:ssanthosh010303/d14c1.git
[submodule "d15/c1"]
	path = d15/c1
	url = git@github.com:ssanthosh010303/d15c1.git
[submodule "d15/c2"]
	path = d15/c2
	url = git@github.com:ssanthosh010303/d15c2.git
[submodule "d16/c1"]
	path = d16/c1
	url = git@github.com:ssanthosh010303/d16c1.git
[submodule "d16/c2"]
	path = d16/c2
	url = git@github.com:ssanthosh010303/d16c2.git
[submodule "d17/c1"]
	path = d17/c1
	url = git@github.com:ssanthosh010303/d17c1.git
[submodule "d18/c1"]
	path = d18/c1
	url = git@github.com:ssanthosh010303/d18c1.git
[submodule "d18/c2"]
	path = d18/c2
	url = git@github.com:ssanthosh010303/d18c2.git
[submodule "d19/c1"]
	path = d19/c1
	url = git@github.com:ssanthosh010303/d19c1.git
[submodule "d20/c1"]
	path = d20/c1
	url = git@github.com:ssanthosh010303/d20c1.git
[submodule "d20/c2"]
	path = d20/c2
	url = git@github.com:ssanthosh010303/d20c2.git
[submodule "d21/c1"]
	path = d21/c1
	url = git@github.com:ssanthosh010303/d21c1.git
[submodule "d21/c2"]
	path = d21/c2
	url = git@github.com:ssanthosh010303/d21c2.git
[submodule "d20/c3"]
	path = d20/c3
	url = git@github.com:ssanthosh010303/d20c3.git
[submodule "d22/c1"]
	path = d22/c1
	url = git@github.com:ssanthosh010303/d22c1.git
[submodule "d24/c1"]
	path = d24/c1
	url = git@github.com:ssanthosh010303/d24c1.git
[submodule "d25/c1"]
	path = d25/c1
	url = git@github.com:ssanthosh010303/d25c1.git
[submodule "d26/c1"]
	path = d26/c1
	url = git@github.com:ssanthosh010303/d26c1.git
[submodule "d27/c1"]
	path = d27/c1
	url = git@github.com:ssanthosh010303/d27c1.git
[submodule "d38/c1"]
	path = d38/c1
	url = git@github.com:ssanthosh010303/d38c1.git
[submodule "d38/c2"]
	path = d38/c2
	url = git@github.com:ssanthosh010303/d38c2.git
